<div class="auth-container">
  <div class="auth-form material-box">
    <h1>Signin</h1>

    <form [formGroup]="form">
      <!-- UserName -->
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Enter the username"
          formControlName="userName"
        />
        <mat-error *ngIf="form.controls.userName.hasError('required')"
          >Username is required</mat-error
        >
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter the password"
          formControlName="password"
        />
        <mat-error *ngIf="form.controls.password.hasError('required')"
          >Password is required</mat-error
        >
      </mat-form-field>
    </form>

    <div>
      <button
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
        "
        mat-raised-button
        color="primary"
        [disabled]="form.invalid || (loading$ | async)"
        (click)="singin()"
      >
        <span style="margin-left: 8px"> Login </span>
      </button>
      <mat-progress-bar
        *ngIf="loading$ | async"
        color="warn"
        mode="indeterminate"
      >
      </mat-progress-bar>
    </div>

    <div
      style="
        margin-top: 1rem;
        justify-content: center;
        display: flex;
        gap: 0.5rem;
      "
    >
      <h5>Are you a new user?</h5>
      <a [routerLink]="['/', 'auth', 'signup']">Register</a>
    </div>
  </div>
</div>
