<mat-toolbar color="primary">
  <!-- <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span [routerLink]="['/']">Recipe Manager</span>
  <span class="spacer"></span>

  <div style="display: flex; gap: 6px" *ngFor="let menu of menus">
    <button
      mat-flat-button
      color="primary"
      [routerLink]="menu?.children ? null : [menu.route]"
      routerLinkActive="mat-accent"
      [matMenuTriggerFor]="menu?.children ? menuSelector : null"
      (click)="openMenu(menu)"
    >
      {{ menu.title }}
    </button>
    <mat-menu #menuSelector="matMenu">
      <ng-container *ngIf="menu?.children">
        <button
          *ngFor="let subMenu1 of selectedMenu1"
          mat-menu-item
          color="primary"
          [routerLink]="subMenu1?.route ? [menu.route, subMenu1.route] : null"
          routerLinkActive="mat-accent"
        >
          {{ subMenu1.title }}
        </button>
      </ng-container>
    </mat-menu>
  </div>
  <span class="spacer"></span>

  <div *ngIf="user$ | async as user">
    <div
      class="profile-container"
      matRipple
      [matRippleCentered]="true"
      [matMenuTriggerFor]="profile"
    >
      <span class="name">{{ user.name }}</span>
      <mat-icon aria-hidden="false" aria-label="User Profile"
        >account_circle</mat-icon
      >
    </div>
    <mat-menu #profile="matMenu">
      <button mat-menu-item>Update profile</button>
      <button mat-menu-item (click)="signOut()">Sign out</button>
    </mat-menu>
  </div>
</mat-toolbar>
