<mat-toolbar color="primary">
  <!-- <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span [routerLink]="['/']">Recipe Manager</span>
  <span class="spacer"></span>

  <div style="display: flex; gap: 6px" *ngFor="let menu of menus">
    <button
      mat-flat-button
      color="primary"
      [routerLink]="menu?.route ? [menu.route] : null"
      routerLinkActive="mat-accent"
      [matMenuTriggerFor]="menuSelector"
      (click)="openMenu(menu)"
    >
      {{ menu.title }}
    </button>
    <mat-menu #menuSelector="matMenu">
      <button
        *ngFor="let subMenu1 of selectedMenu1"
        mat-menu-item
        color="primary"
        [routerLink]="subMenu1?.route ? [subMenu1.route] : null"
        routerLinkActive="mat-accent"
      >
        {{ subMenu1.title }}
      </button>
    </mat-menu>
  </div>
  <span class="spacer"></span>

  <button mat-icon-button aria-label="Log out" color="warn">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
