<mat-toolbar color="primary">
  <!-- <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span [routerLink]="['/']">Recipe Manager</span>
  <span class="spacer"></span>

  <div style="display: flex; gap: 6px">
    <button
      mat-flat-button
      color="primary"
      [routerLink]="['/dashboard']"
      routerLinkActive="mat-accent"
    >
      Dashboard
    </button>

    <button mat-flat-button color="primary" [matMenuTriggerFor]="staff">
      Masters
    </button>
    <mat-menu #staff="matMenu">
      <button
        mat-menu-item
        color="primary"
        [routerLink]="['/staff']"
        routerLinkActive="mat-accent"
      >
        Staff & Resources
      </button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-flat-button color="primary" [matMenuTriggerFor]="settings">
      Settings
    </button>
    <mat-menu #settings="matMenu">
      <button
        mat-menu-item
        color="primary"
        [routerLink]="['/uom']"
        routerLinkActive="mat-accent"
      >
        Unit Of Measures
      </button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <span class="spacer"></span>

  <button mat-icon-button aria-label="Log out" color="warn">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
