<h1 mat-dialog-title>Add New staff</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <!-- Name -->
    <mat-form-field appearance="outline">
      <mat-label>Staff Name</mat-label>
      <input
        matInput
        placeholder="Enter the name of the staff"
        formControlName="name"
      />
      <mat-error *ngIf="form.controls.name.hasError('required')"
        >Name is required</mat-error
      >
      <mat-error *ngIf="form.controls.name.hasError('maxlength')"
        >Name should be less than 100 characters</mat-error
      >
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input
        matInput
        placeholder="Unique phone number"
        formControlName="phone"
      />
      <mat-hint>Phone number should be unique</mat-hint>
      <mat-error *ngIf="form.controls.phone.hasError('required')"
        >Phone number is required</mat-error
      >
      <mat-error *ngIf="form.controls.phone.hasError('maxlength')"
        >Phone number should be less than 24 characters</mat-error
      >
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Unique email" formControlName="email" />
      <mat-hint>Email should be unique</mat-hint>
      <mat-error *ngIf="form.controls.email.hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="form.controls.email.hasError('maxlength')"
        >Email should be less than 50 characters</mat-error
      >
    </mat-form-field>

    <!-- Address -->
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <textarea
        matInput
        placeholder="Address"
        formControlName="address"
      ></textarea>
      <mat-hint>Flat/House/Shop No., street name, locality</mat-hint>
      <mat-error *ngIf="form.controls.address.hasError('required')"
        >Address is required</mat-error
      >
      <mat-error *ngIf="form.controls.address.hasError('maxlength')"
        >Address should be less than 200 characters</mat-error
      >
    </mat-form-field>

    <!-- City -->
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput placeholder="City" formControlName="city" />

      <mat-error *ngIf="form.controls.city.hasError('maxlength')"
        >City should be less than 50 characters</mat-error
      >
    </mat-form-field>

    <!-- State -->
    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <input matInput placeholder="State" formControlName="state" />
      <mat-error *ngIf="form.controls.state.hasError('maxlength')"
        >State should be less than 50 characters</mat-error
      >
    </mat-form-field>

    <!-- Zip -->
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onClose()">Close</button>
  <button mat-button color="primary" (click)="onSave()" cdkFocusInitial>
    Save
  </button>
</div>
