<h1 mat-dialog-title>Add New Finished Goods</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div style="display: flex">
      <div style="flex: 1">
        <!-- Name -->
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Enter the name of the cost"
            formControlName="name"
          />
          <mat-error *ngIf="form.controls.name.hasError('required')"
            >Name is required</mat-error
          >
          <mat-error *ngIf="form.controls.name.hasError('maxlength')"
            >Name should be less than 50 characters</mat-error
          >
        </mat-form-field>

        <!-- Product type -->
        <mat-form-field appearance="outline">
          <mat-label>Product Type</mat-label>
          <mat-select formControlName="type">
            <mat-option
              *ngFor="let productType of productTypes$ | async"
              [value]="productType.key"
            >
              {{ productType.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="text-align: center">
        <!-- <mat-form-field appearance="outline">
          <mat-label>Batch Qty</mat-label>
          <input
            matInput
            type="number"
            placeholder="batchQty"
            formControlName="batchQty"
          />
        </mat-form-field> -->
        <app-profile-image></app-profile-image>
      </div>
    </div>

    <!-- Description -->
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Enter the detail about cost"
        formControlName="description"
      ></textarea>
      <mat-error *ngIf="form.controls.description.hasError('maxlength')"
        >Description should be less than 500 characters</mat-error
      >
    </mat-form-field>

    <div style="display: flex; column-gap: 6px">
      <!-- Batch Qty -->
      <mat-form-field appearance="outline">
        <mat-label>Batch Qty</mat-label>
        <input
          matInput
          type="number"
          placeholder="batchQty"
          formControlName="batchQty"
        />
      </mat-form-field>

      <!-- Batch Cost -->
      <mat-form-field appearance="outline">
        <mat-label>Batch Cost</mat-label>
        <input
          matInput
          type="number"
          placeholder="Batch Cost"
          formControlName="batchCost"
        />
      </mat-form-field>
    </div>

    <div style="display: flex; column-gap: 6px">
      <!-- Sales Price -->
      <mat-form-field appearance="outline">
        <mat-label>Sales Price</mat-label>
        <input
          matInput
          type="number"
          placeholder="Sales Price"
          formControlName="salesPrice"
        />
      </mat-form-field>

      <!-- Item Cost -->
      <mat-form-field appearance="outline">
        <mat-label>Item Cost</mat-label>
        <input
          matInput
          type="number"
          placeholder="Item Cost"
          formControlName="itemCost"
        />
      </mat-form-field>
    </div>

    <div style="display: flex; column-gap: 6px">
      <!-- Qty On Hand -->
      <mat-form-field appearance="outline">
        <mat-label>Qty On Hand</mat-label>
        <input
          matInput
          type="number"
          placeholder="Qty On Hand"
          formControlName="qtyOnHand"
        />
      </mat-form-field>

      <!-- Item Profit -->
      <mat-form-field appearance="outline">
        <mat-label>Item Profit</mat-label>
        <input
          matInput
          type="number"
          placeholder="Item Profit"
          formControlName="itemProfit"
        />
      </mat-form-field>
    </div>
  </form>
  <div class="form-error" [innerHTML]="error$ | async | formError"></div>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-button
    color="warn"
    [disabled]="(submitting$ | async) && !(submitted$ | async)"
    cdkFocusInitial
    (click)="onClose()"
  >
    Close
  </button>
  <button
    mat-button
    color="primary"
    [disabled]="
      ((submitting$ | async) && !(submitted$ | async)) || form.invalid
    "
    (click)="onSave()"
  >
    Save
  </button>
</div>
