<h1 mat-dialog-title>Add New Purchase Unit</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <!-- Name -->
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Enter the name of the cost"
        formControlName="name"
      />
      <mat-error *ngIf="form.controls.name.hasError('required')"
        >Name is required</mat-error
      >
      <mat-error *ngIf="form.controls.name.hasError('maxlength')"
        >Name should be less than 50 characters</mat-error
      >
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Enter the detail about cost"
        formControlName="description"
      ></textarea>
      <mat-error *ngIf="form.controls.description.hasError('maxlength')"
        >Description should be less than 500 characters</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Product Type</mat-label>
      <mat-select formControlName="type">
        <mat-option
          *ngFor="let productType of productTypes$ | async"
          [value]="productType.key"
        >
          {{ productType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- CostUnit -->
    <mat-form-field appearance="outline">
      <mat-label>Cost Unit</mat-label>
      <input
        matInput
        placeholder="Enter the unit of the cost"
        formControlName="costUnit"
      />
      <mat-error *ngIf="form.controls.costUnit.hasError('maxlength')"
        >Cost unit should be less than 50 characters</mat-error
      >
    </mat-form-field>

    <!-- amount -->
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input
        matInput
        type="number"
        placeholder="Amount"
        formControlName="amount"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-button
    color="warn"
    [disabled]="(submitting$ | async) && !(submitted$ | async)"
    cdkFocusInitial
    (click)="onClose()"
  >
    Close
  </button>
  <button
    mat-button
    color="primary"
    [disabled]="
      ((submitting$ | async) && !(submitted$ | async)) || form.invalid
    "
    (click)="onSave()"
  >
    Save
  </button>
</div>
