name: Angular CI
on:
  push:
    paths:
      - "ng-mma/**"
      - ".github/**/angular*.yml"
    branches:
      - main

env:
  PROJECT_DIRECTORY: "ng-mma"
  NODE_VERSION: 18

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Cache Node Modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            ~/.npmrc
            ~/.cache/yarn
            ./${{env.PROJECT_DIRECTORY}}/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
              
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Change Directory to Angular Project
        run: cd ${{env.PROJECT_DIRECTORY}}

      - name: Install Dependencies
        run: |
          cd ${{env.PROJECT_DIRECTORY}}
          yarn install --frozen-lockfile

      - name: Run Tests
        run: |
          cd ${{env.PROJECT_DIRECTORY}}
          yarn run git-test

      - name: Archive Test Results
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: ${{env.PROJECT_DIRECTORY}}/coverage

      - name: Build Angular App
        id: build-prod
        run: |
          cd ${{env.PROJECT_DIRECTORY}}
          yarn run build --prod

      - name: Archive Build Artifacts
        id: ng-dist
        uses: actions/upload-artifact@v3.1.3
        with:
          name: ${{env.PROJECT_DIRECTORY}}
          path: ${{env.PROJECT_DIRECTORY}}/dist/
